:root{
    --dark-green: #006633;
    --green: #55AE3A;
    --red: #EF3A43;
    --yellow: #FFE600;
    --orange: #DF7E24;
    --white: #fff;
    --black: #000;
    --dark-gray: #7f7f7f;
    --gray: #BFBFBF;
    --light-green: #B1DDC4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: var(--gray);
    position: relative;
}

.profile-container{
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 8px;
}

.profile-image-container{
    width: 266px;
    height: 266px;
    margin-bottom: 5px;
    flex-shrink: 0;
}
.profile-image{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-container .name{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.description .personal-data{
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.description .personal-data p{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 45px;
    margin-bottom: 5px;
}
.description.text p{
    text-align: justify;
    font-size: 18px;
    margin-bottom: 13px;
    line-height: 21px;
} 

.data-icon{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: var(--green);
    color: var(--white);
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 5px;
}

.data-icon.ontop{
    position: absolute;
    top: 12px;
}
.data-icon.ontop:nth-child(1){
    left: 16px;
}
.data-icon.ontop:nth-child(2){
    right: 16px;
}
.follow-btn-container{
    margin-bottom: 30px;
    text-align: center;
}
.description .follow-btn-container{
    display: none;
}
.follow-btn{
    font-family: 'Work Sans', sans-serif;
    border: none;
    outline: none;
    background: var(--dark-green);
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 44px;
    transition: background 0.5s;
}
.follow-btn:hover{
    background: var(--orange);
}

.icon{
    display: inline-block;
    width: 44px;
    height: 44px;
    background: var(--dark-green); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
}

.contact-list a{
    width: fit-content;
    color: var(--black);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-list a:hover .icon{
    background: var(--orange);
}
.contact-list a span:nth-child(2){
    display: none;
}
.contact-list a:hover span:nth-child(2){
    text-decoration: underline;
}
.contact-list{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    grid-gap: 4px;
    list-style: none;
}

@media screen and (min-width:1160px) {
    .profile-container{
        flex-direction: row;
        gap: 20px;
        padding: 8px;
    }
    .profile-image-container{
        margin: 0;
        width: 256px;
        height: 256px;
    }
    .data-icon.ontop{
        display: none;
    }
    .contact-list{
        grid-auto-flow: unset;
        grid-template-columns: repeat(2, 1fr);
        justify-items: left;
        grid-gap: 4px;
        list-style: none;
    }
    .description .follow-btn-container{
        display: block;
        margin-bottom: 0;
    }
    .description-text-contact-lis-container .follow-btn-container{
        display: none;
    }
    .description.person{
        padding-top: 8px;
    }
    .profile-container .name, .description .personal-data{
        margin-bottom: 20px;
    }
    .description.text p{
        margin-bottom: 10px;
    }
    .description .personal-data p{
        margin-bottom: 10px;
    }
    .description-text-contact-lis-container{
        align-self: start;
        margin-top: 5px;
        padding-left: 8px;
    }
    .contact-list a span:nth-child(2){
        display: inline;
    }
}